<div class="row justify-content-md-center">
  <div class="col-6">
    <div class="text-center mt-40">
      <h1>
        Checkout — Stripe Press
      </h1>
      <h5 class="text-secondary">
        <span id="title">{{title}}</span>
      </h5>
      <hr class="mt-40">
      <div class="mt-20 text-info">
        Total due: $<span class="amount" data-amount="{{amount}}"></span>
      </div>
    </div>
    <div class="card box-shadow mt-40">
      <div class="card-body">
        <form name="payment-form" id="payment-form">
          Contact Details
          <div id="contact-details-element" class="mt-20 text-center text-secondary border-placeholder">
            <!--Stripe Contact Details Element included here-->
          </div>
          <br>Shipping address
          <div id="address-element" class="mt-20 text-center text-secondary border-placeholder">
          <!--Stripe Address Element included here-->
          </div>
          <br> Payment Method
          <div id="payment-element" class="mt-20 text-center text-secondary border-placeholder">
            <!--Stripe Payment Element included here-->
          </div>
          <div class="mt-20">
            <div class="spinner" hidden id="spinner"></div>
            <button type="submit" id="submit" class="btn btn-lg btn-block btn-primary"><span id="button-text">Pay $<span class="amount" data-amount="{{amount}}"></span></span></button>
            <div id="payment-message" hidden></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
